<footer class="site-footer h-card">
    <div class="subscribe">
        <p>SUBSCRIBE and be the FIRST one to have our latest news.</p>

        <form action="https://12ships.us17.list-manage.com/subscribe/post?u=a195ccea1885b9bb75f751cf9&amp;id=af808d74b6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a195ccea1885b9bb75f751cf9_af808d74b6" tabindex="-1" value=""></div>
            <input type="submit" value="Stay Connected" name="subscribe" id="mc-embedded-subscribe" class="subbtn">
        </form>
    </div>

<!--End mc_embed_signup-->
    <div class="social row">
        <p>Follow us on social media</p>
            {% assign socials = site.data.social %}
            {% for item in socials %}
            <a href="{{ item.url }}" target="_blank"><i class="fab fa-{{ item.name }}"></i></a>
            {% endfor %}
    </div>
    <div class="copyright">
        <p>
			<a href="mailto:contact@12ships.com">contact@12ships.com</a> <br>
			12ships © All rights reserved
		</p>
    </div>
</footer>
